/* Mise en forme de la navbar (barre de navigation)*/

.navbar{
    width: 100%;/* Couvre toute la taille de l'écran*/
    background-color: #2b7a78;
    overflow: auto;
}
body{
    background-color:rgb(0, 214, 168);
}
/* Je sélectionne la classe "navbar" et les balises <a>*/
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}
/* Lorsque Je survole les liens href de la */
.navbar a:hover {
    background-color: black;
}
/* L'élément de la classe "active" devient vert*/
.active{
    background-color:aqua ;
}
/* Je rends responsive la barre de navigation. Il pourra s'adapter à toutes les tailles d'écrans (smartpone, tablette et TV et ordinateur */
@media screen and (max-width: 500px) {
    /* La barre de navigation*/
    .navbar a {
        float: none;
        display: block;/* Affiche le menu verticalement au lieu d'horizontalement*/
    }
}